body {
    background-color: #282a36;
}

button {
    background-color: #44475a;
    border: none;
    color: #f8f8f2;
}

button:hover {
    color: #8be9fd;
}

input {
    background-color: #44475a;
    border: none;
    color: #f8f8f2
}

label {
    color: #f8f8f2
}

h1, h2, a {
    color: #f8f8f2;
}

select {
    background-color: #44475a;
    border: none;
    color: #f8f8f2;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    color: #f8f8f2;
    border-color: #f8f8f2;
    border: solid;
    border-width: 1px 0;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(even) {
    background-color: #44475a;
}

a:link {
    color: #8be9fd;
}

a:visited {
    color: #bd93f9;
}

.directory {
    font-weight: bold;
}

.row>.column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* The image itself */
.slide_img {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}


/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
    background-color:black;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
}

video,
img {
    width: 100%;
    height: auto;
    background-color: black;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flink {
    color: blue;
    text-decoration: underline;
    text-underline-position: under;
}

.flink:visited {
    color: purple;
    text-decoration: underline;
    text-underline-position: under;
}

.tag {
    cursor: pointer;
    color: #282a36;
    background-color: #6272a4;
    border-width: 1px;
    border-style: solid;
}

.collection {
    background-color: #ff79c6;
}

.author {
    background-color: #ffb86c;
}

.metadata {
    background-color: #f1fa8c;
}

.add_tag {
    cursor: pointer;
    color: #50fa7b;
    background-color: #6272a4;
    border-width: 1px;
    border-style: solid;
}

.rem_tag {
    cursor: pointer;
    color: #ff5555;
    background-color: #6272a4;
    border-width: 1px;
    border-style: solid;
}

#mediaContainer {
    width: 85vw;
}

#media {
    width: 85vw;
    height: 25vw;
    object-fit: contain;
    cursor: pointer;
}

#expanded-media {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

#text {
    border: solid #6272a4;
    border-width: 1px;
    color:#f2f2f2
}